[Unit]
Description=Raspberry Pi Drive Recorder

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/bash /home/pi/RaspberryPiDriveRecorder/RaspberryPiDriveRecorder.sh
Restart=always

[Install]
WantedBy=multi-user.target
